[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/galaxysoftware/googletest.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/galaxysoftware/cmake-modules
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/galaxysoftware/glm.git
[submodule "ext/eggs-variant"]
	path = ext/eggs-variant
	url = https://github.com/galaxysoftware/variant
[submodule "ext/glxw"]
	path = ext/glxw
	url = https://github.com/galaxysoftware/glxw.git
[submodule "ext/cppformat"]
	path = ext/cppformat
	url = https://github.com/cppformat/cppformat.git
